{% extends "base.html" %} {% set activate_page = "about" %} {% block title %}
About {% endblock %} {% block content %}

<section>
  <div class="flex flex-row p-4 m-4 px-12">
    <div class="ml-4 mr-20">
      <p>
        Elvin Salcedo is a Latino photographer based out of Tampa, FL
      </p>
      <br>
      <p> His work mostly focuses on the intersectionality of American and Latino culture. You'll notice his work
      highlights intimate moments usually involving family. </p>
      <br>
      <p class="font-bold"> elvin.salcedo17@gmail.com </p>

    </div>
    <div><img src="{{ photo }}" alt="Portrait of the artist" /></div>
  </div>
</section>

{% endblock %}
