{% extends "base.html" %} {% set activate_page = "about" %} {% block title %}
About {% endblock %} {% block content %}

<section>
  <div class="flex flex-col-reverse md:flex-row mx-auto max-w-5xl p-4 md:px-12 gap-8">
    <div class="flex-1">
      <p>
        Elvin Salcedo is a Latino photographer based out of Tampa, FL
      </p>
      <br>
      <p> His work mostly focuses on the intersectionality of American and Latino culture. You'll notice his work
      highlights intimate moments usually involving family. </p>
      <br>
      <p class="font-bold"> elvin.salcedo17@gmail.com </p>

    </div>
    <div class="flex-1 flex items-center justify-center">
      <img src="{{ photo }}" alt="Portrait of the artist" class="max-w-full h-auto rounded-sm shadow-lg" />
    </div>
  </div>
</section>

{% endblock %}
