{% extends "base.html" %} {% set activate_page = "view" %} {% block title %}
Admin - view {% endblock %} {% block content %}

<script type="text/javascript" src="/static/scripts/admin.js" defer></script>

<section class="container mx-auto p-2 mb-4">
  <div class="flex justify-end space-x-4 ">
    <button type="Submit" id="upload-btn" class="btn btn-primary bg-orange-500 text-white font-bold hover:bg-orange-600 rounded-md shadow p-2 px-5"> Upload</button> 
    <button type="button" id="delete-btn" class="btn btn-primary bg-orange-500 text-white font-bold hover:bg-orange-600 rounded-md shadow p-2 px-5"> Delete</button> 
    <span id="count" class="p-2 mx-8 text-stone-600">0</span>
  </div> 
  <div id="photo-grid" class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 m-8">  
  {% for photo in photos %}                                             
  <div class="photo-item aspect-square overflow-hidden" data-photo-id="{{ photo.id }}">                           
      <img src="{{ photo.path }}" alt="" class="w-full h-full object-cover"/> 
    </div>                                                                
  {% endfor %}                                                          
  </div>                                                                  
</section>

{% endblock %}
