<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Elvin Salcedo{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/images/favicon.ico') }}">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />

    <link
      href="{{ url_for('static', path='/css/output.css') }}"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
      integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      {% set active_page = active_page|default('home') %}
      <nav class="flex my-4 mx-8">
        <div class="flex-auto my-4 mx-8">
          <a href="/" class="text-3xl font-display font-medium tracking-widest"
            >Elvin Salcedo</a
          >
        </div>

        <div class="flex items-center">
          <ul class="flex space-x-4 my-4 mx-8 font-light text-stone-600">
            <li>
              <a
                href="{{ url_for('home') }}"
                class="{% if active_page == 'home' %} text-orange-400 font-medium {% else %} text-stone-600 hover:text-orange-400 {% endif %}"
                >Home</a
              >
            </li>
            <li>
              <a
                href="#"
                class="{% if active_page == 'collections' %} text-orange-400 font-medium {% else %} text-stone-600 hover:text-orange-400 {% endif %}"
                >Collections</a
              >
            </li>
            <li>
              <a
                href="#"
                class="{% if active_page == 'about' %} text-orange-400 font-medium {% else %} text-stone-600 hover:text-orange-400 {% endif %}"
                >About</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
