<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Elvin Salcedo</title>
    <link href="static/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <header id="header">
      <div id="logo"></div>
      <div id="top-nav">
        <nav class="main-nav">
          <ul>
            <li>
              <a href="#"> Home </a>
            </li>
            <li>
              <a href="#">Collections</a>
            </li>
            <li>
              <a href="#"> About </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
