{% extends 'base.html' %} {% block title %} Admin login {% endblock %}

<!-- main content -->
{% block content %}
<main>
  <section class="container mx-auto p-8 mt-12">
   <div class="text-center mb-10 ">
      <h1 class="text-4xl font-bold">Admin Login</h1>
    </div> 
  </section>
  <section class="container mx-auto px-8">
    <div class="max-w-2xl mx-auto  p-8">
      <form action="/admin/login" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="token_key" value="{{ csrf_token }}">
        <div class="flex flex-col gap-2">
            <label for="username" id="username">Email</label>
            <input type="email" name="username" required placeholder="e.g. user@example.com" class="border border-stone-400 w-full rounded-md bg-stone-100 px-4 py-2 w-full mb-8">
          </div>
          <div class="flex flex-col gap-2">
            <label for="password" id="password">Password</label>
            <input type="password" name="password"  required class="border border-stone-400 w-full rounded-md bg-stone-100 px-4 py-2 mb-8">
          </div>
          <div class="flex flex-col">
            <button type="Submit" class="btn btn-primary bg-orange-500 text-white font-bold py-2 mb-8 hover:bg-orange-600 rounded-md ">Login</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</main>
{% endblock %}
